<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Justicia Restaurativa</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css' integrity='sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==' crossorigin='anonymous' referrerpolicy='no-referrer'/>
        <link rel="shortcut icon" href="https://img.icons8.com/ios-glyphs/60/fire-heart.png" type="image/x-icon">
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
    </head>
<body>
    <div class="contenedor">
    <header>
        <div class="logo">
            <a href="#">Justicia Restaurativa <br>Cuba</a>
        </div>

        <!-- Menú principal -->
        <input type="checkbox" class="menu-bar" name="" id="menu-bar" hidden="true">
        <label for="menu-bar" class="fa fa-bars"></label>

        
        {% if user.is_authenticated %}
            <nav class="navbar">
                <ul>
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="{% url 'publicaciones' %}">Publicaciones</a></li>
                    <li><a href="{% url 'redes_sociales' %}">Redes Sociales</a></li>
                    <li><a href="{% url 'inbox' %}">Inbox</a></li>
                </ul>
                <div class="crear_publicacion_menu">
                    <img src="{{ user.profile.avatar }}" alt="">
                    <p>{{user.profile.name}}</p>
                    <input type="checkbox" name="" id="menu-bar-interno" hidden="true">
                    <label for="menu-bar-interno" class="fa-solid fa-angle-down"></label>
                
                    <!-- Submenu -->
                    <div class="crear_publicacion_menu_interno">
                        <ul>
                            <li><a href="{% url 'profile' %}">My Profile</a></li>
                            <li><a href="{% url 'profile_edit' %}">Edit Profile</a></li>
                            <li><a href="{% url 'create_post' %}">Crear Publicacion</a></li>
                            <li><a href="{% url 'account_logout' %}">Log out</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% else %}
            <div class="login">
                <ul>
                    <li><a href="{% url 'account_login' %}">Log in</a></li>
                    <li><a href="{% url 'account_signup' %}">Sign up</a></li>
                </ul>
            </div>
        {% endif %}
    </header>

    <main>
        <div class="banner">
            {% block content %}

            {% endblock  %}
        </div>
    </main>
    
    <footer>
        <div>
            <a href="#">Politica de privacidad</a>
            <a href="#">Avisos legales</a>
            <a href="#">Cookies</a>
        </div>
        <div>
            <i class="fa-regular fa-copyright"></i>   Justicia Restaurativa Cuba 2025
        </div>
    </footer>
    </div>
    {% if messages %}
        <script>
            {% for message in messages %}
                alert("{{ message }}");
            {% endfor %}
        </script>
    {% endif %}

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>