{% extends './base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
    <button id="menu_elementoButton" onclick="toggleMenu()">☰</button>

    <div class="menu_elemento" id="menu_elemento">
        <div class="home_izquierdo">
            <ul class="accordion_menu_principal">
                <li>
                    <label for="1">¿Qué es la justicia restaurativa? <span>&#x3e;</span></label>
                    <input type="checkbox" name="accordion_menu_principal" id="1">
                    <div class="contenido_accordion_menu_principal">
                        Justicia Restaurativa es un enfoque alternativo de resolución de conflictos que busca reparar el daño causado por un delito o conflicto, priorizando las necesidades de las víctimas, la responsabilidad de los ofensores y la participación activa de la comunidad.
                    </div>
                </li>
                <li>
                    <label for="2">Beneficios de la justicia restaurativa <span>&#x3e;</span></label>
                    <input type="checkbox" name="accordion_menu_principal" id="2">
                    <div class="contenido_accordion_menu_principal">
                        <ul>
                            <li><a onclick="mostrarElemento('victimas')">Para víctimas</a></li>
                            <li><a onclick="mostrarElemento('servicios')">Para infractores</a></li>
                            <li><a onclick="mostrarElemento('contacto')">Para la comunidad</a></li>
                            <li><a href="#">Para el sistema judicial</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <label for="3">Métodos y procesos <span>&#x3e;</span></label>
                    <input type="checkbox" name="accordion_menu_principal" id="3">
                    <div class="contenido_accordion_menu_principal">
                        <ul>
                            <li><a href="#">Círculos restaurativos</a></li>
                            <li><a href="#">Mediación víctima-infractor</a></li>
                            <li><a href="#">Conferencias grupales</a></li>
                            <li><a href="#">Prácticas dialógicas</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <label for="4">Experiencia cubana <span>&#x3e;</span></label>
                    <input type="checkbox" name="accordion_menu_principal" id="4">
                    <div class="contenido_accordion_menu_principal">
                        <ul>
                            <li><a href="#">Programas escolares contra el bullying</a></li>
                            <li><a href="#">Reinserción de jóvenes infractores</a></li>
                            <li><a href="#">Conflictos vecinales resueltos</a></li>
                            <li><a href="#">Experiencias en prisiones</a></li>
                            <li><a href="#">Casos internacionales destacados</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <label for="5">Áreas de aplicación <span>&#x3e;</span></label>
                    <input type="checkbox" name="accordion_menu_principal" id="5">
                    <div class="contenido_accordion_menu_principal">
                        <ul>
                            <li><a href="#">En el ámbito educativo</a></li>
                            <li><a href="#">En el sistema penal</a></li>
                            <li><a href="#">En comunidades locales</a></li>
                            <li><a href="#">En el ámbito laboral</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <label for="6">Recursos y herramientas <span>&#x3e;</span></label>
                    <input type="checkbox" name="accordion_menu_principal" id="6">
                    <div class="contenido_accordion_menu_principal">
                        <ul>
                            <li><a href="#">Guías prácticas</a></li>
                            <li><a href="#">Materiales de formación</a></li>
                            <li><a href="#">Documentación legal</a></li>
                            <li><a href="#">Bibliografía recomendada</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <label for="7">Preguntas Frecuentes <span>&#x3e;</span></label>
                    <input type="checkbox" name="accordion_menu_principal" id="7">
                    <div class="contenido_accordion_menu_principal">
                        <ul>
                            <li><a href="#">¿En qué se diferencia de la justicia tradicional?</a></li>
                            <li><a href="#">¿Es aplicable a todo tipo de delitos?</a></li>
                            <li><a href="#">¿Cómo se garantiza la seguridad de las víctimas?</a></li>
                            <li><a href="#">¿Qué resultados se han demostrado?</a></li>
                            <li><a href="#">¿Cuánto dura el proceso?</a></li>
                            <li><a href="#">¿Cómo puedo participar?</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <label for="8">Noticias y actualizaciones <span>&#x3e;</span></label>
                    <input type="checkbox" name="accordion_menu_principal" id="8">
                    <div class="contenido_accordion_menu_principal">
                        <ul>
                            <li><a href="#">Guías prácticas</a></li>
                            <li><a href="#">Materiales de formación</a></li>
                            <li><a href="#">Documentación legal</a></li>
                            <li><a href="#">Bibliografía recomendada</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="elemento-container" id="elemento-container">
        <div id="victimas" class="elemento mostrar">
            <h2>Reparación del daño</h2>
            <ul>
                <li>A través de acuerdos mutuos, las víctimas pueden recibir una compensación directa que contribuya a reparar el daño causado.</li>
                <li>Esta reparación puede ser económica, material o simbólica (como disculpas públicas o trabajo comunitario en favor de la víctima o su entorno).</li>
            </ul>


            <h2>Sanación emocional y psicológica</h2>
            <ul>
                <li>Permite que las víctimas comprendan mejor por qué ocurrió el delito, lo que puede aliviar sentimientos de incertidumbre o culpa.</li>
                <li>Expresar sus emociones en un entorno seguro puede ayudarles a procesar el trauma y encontrar paz interior.</li>
                <li>Al escuchar el reconocimiento del daño por parte del infractor, las víctimas pueden encontrar un mayor sentido de cierre emocional.</li>
            </ul>


            <h2>Reducción del miedo e inseguridad</h2>
            <ul>
                <li>Al conocer de primera mano las motivaciones del infractor y al establecer un diálogo controlado, las víctimas pueden reducir su temor a futuros encuentros con el agresor.</li>
                <li>Esto es especialmente importante en casos donde víctima e infractor comparten el mismo entorno social o comunitario.</li>
            </ul>


            <h2>Empoderamiento</h2>
            <ul>
                <li>Las víctimas tienen un rol activo en el proceso, lo que les permite expresar sus sentimientos, preocupaciones y necesidades.</li>
                <li>Al participar directamente en el diálogo con el infractor, recuperan el control sobre una situación que previamente las dejó vulnerables.</li>
                <li>Esta participación activa puede ayudar a reducir la sensación de impotencia que muchas víctimas experimentan tras un delito.</li>
            </ul>

            <h2>Respuestas y aclaraciones</h2>
            <ul>
                <li>Muchas víctimas quedan con preguntas sin resolver tras un delito. La justicia restaurativa les brinda la oportunidad de obtener respuestas directamente del infractor.</li>
                <li>Comprender el contexto que llevó al delito puede ayudar a disminuir el miedo y la ansiedad, especialmente en casos donde las víctimas desconocen los motivos del agresor.</li>
            </ul>


            <h2>Fortalecimiento del apoyo social</h2>
            <ul>
                <li>La justicia restaurativa suele involucrar a miembros de la comunidad o personas de confianza, lo que amplía la red de apoyo para las víctimas.</li>
                <li>Este acompañamiento puede contribuir a que la víctima se sienta respaldada durante el proceso de recuperación.</li>
            </ul>
        </div>
        <div id="servicios" class="elemento">
            <h1>Servicios</h1>
            <p>Ofrecemos una amplia gama de servicios para tu negocio.</p>
        </div>
        <div id="contacto" class="elemento">
            <h1>Contacto</h1>
            <p>Puedes contactarnos en contacto@ejemplo.com</p>
        </div>
    </div>

{% else %}
<!-- carousel -->
<div class="carousel">
    <!-- list item -->
    <div class="list">
        <div class="item">
            <img src="{% static 'img/img1.jpg' %}" alt="">
            <div class="content">
                <div class="title">Resolución de Conflictos</div>
                <div class="topic">Diálogo y Mediación</div>
                <div class="des">
                    La justicia restaurativa promueve el diálogo entre las partes en conflicto, permitiendo una resolución pacífica y equitativa. 
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'img/img2.jpg' %}" alt="">
            <div class="content">
                <div class="title">Participación Comunitaria</div>
                <div class="topic">Reintegración Social</div>
                <div class="des">
                    La comunidad juega un papel clave en la reintegración de los afectados por conflictos, promoviendo la reconciliación y el respeto mutuo.
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'img/img3.png' %}" alt="">
            <div class="content">
                <div class="title">Educación en Valores</div>
                <div class="topic">Justicia en las Escuelas</div>
                <div class="des">
                    La justicia restaurativa en las instituciones educativas fomenta la empatía y la resolución pacífica de conflictos entre estudiantes y docentes.
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'img/img4.jpg' %}" alt="">
            <div class="content">
                <div class="title">Transformación Social</div>
                <div class="topic">Cambio Positivo</div>
                <div class="des">
                    A través de la justicia restaurativa, es posible construir una sociedad más justa, inclusiva y resiliente, basada en el respeto y la responsabilidad compartida.
                </div>
            </div>
        </div>
    </div>

    <!-- list thumbnail -->
    <div class="thumbnail">
        <div class="item">
            <img src="{% static 'img/img1.jpg' %}" alt="">
            <div class="content">
                <div class="title">Resolución de Conflictos</div>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'img/img2.jpg' %}" alt="">
            <div class="content">
                <div class="title">Participación Comunitaria</div>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'img/img3.png' %}" alt="">
            <div class="content">
                <div class="title">Educación en Valores</div>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'img/img4.jpg' %}" alt="">
            <div class="content">
                <div class="title">Transformación Social</div>
            </div>
        </div>
    </div>

    <!-- next prev -->
    <div class="arrows">
        <button id="prev"><</button>
        <button id="next">></button>
    </div>
</div>

<div class="contenido">
    <section class="Acerca_De_Mi" id="Acerca_De_Mi">
        <div class="caja-padre">
            <div class="caja">
                <div class="caja1">
                    <img src="{% static 'img/comunicacion.jpg' %}" alt="">
                    <h3>Comunicación</h3>
                    <p>"El diálogo es la base de la justicia restaurativa. Facilita la comprensión, el reconocimiento del daño y la construcción de acuerdos para la reparación."</p>
                    <a href="#" class="btn">VER MÁS</a>
                </div>
            </div>
            <div class="caja">
                <div class="caja2">
                    <img src="{% static 'img/profesionalidad.jpg' %}" alt="">
                    <h3>Profesionalismo</h3>
                    <p>"Trabajamos con rigurosidad y compromiso en la implementación de procesos restaurativos efectivos, basados en principios éticos y buenas prácticas."</p>
                    <a href="#" class="btn">VER MÁS</a>
                </div>
            </div>
            <div class="caja">
                <div class="caja3">
                    <img src="{% static 'img/compromiso.jpg' %}" alt="">
                    <h3>Compromiso</h3>
                    <p>"Creemos en una sociedad más justa y pacífica, donde cada persona tenga la oportunidad de reparar y transformar los conflictos de manera positiva."</p>
                    <a href="#" class="btn">VER MÁS</a>
                </div>
            </div>
        </div>
    </section>

    <section class="card_deck">
        <div class="stack_area">
            <div class="left">
                <img src="{% static 'img/justice_lady.png' %}" alt="">
            </div>
            <div class="right">
                <div class="cards">
                    <p>La justicia restaurativa no solo beneficia a las víctimas y ofensores, sino que fortalece el tejido social y fomenta una cultura de paz.</p>
                </div>
                <div class="cards">
                    <p>A través de procesos restaurativos, se promueve el aprendizaje y la transformación de conflictos en oportunidades de crecimiento.</p>
                </div>
                <div class="cards">
                    <p>Los métodos de justicia restaurativa pueden aplicarse en diversos ámbitos como el judicial, educativo y comunitario.</p>
                </div>
                <div class="cards">
                    <p>Fortalecer los lazos sociales y fomentar el respeto mutuo es clave para la construcción de sociedades más inclusivas y pacíficas.</p>
                </div>
            </div>
        </div>
    </section>
</div>



<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/deck_cards.js' %}"></script>
{% endif %}

{% endblock  %}