{% extends './base.html' %}
{% load static %}
{% block content %}
<div class="read_post">
    <div class="encabezado">
        <div class="publicaciones_titulo">
            <p>{{post.titulo}}</p>
            {% if post.author %}
                <a href="{% url 'user_profile' post.author.username %}" style="display:flex;">
                    <img src="{{ post.author.profile.avatar }}" alt="">
                    <p>{{ post.author.profile.name }}</p>
                </a>
            {% else %}
                <p><img src="{% static 'img/default_user.png' %}" alt="">No user</p>
            {% endif %}
        </div>
        <article>
            <img class="card-img-top" src="{{post.imagen_fondo.url}}" alt="">
            <a href="{% url 'read_post' post.id %}">
                <img class="card-img-top" src="{{post.imagen_portada.url}}" alt="">
            </a>
        </article>
        <div class="tags">
            {% for tag in post.tags.all %}
                <a href="{% url 'category' tag.slug %}">
                    <span class='tag'>{{ tag }}</span>
                </a>
            {% endfor %}
        </div>
        <div class="editar_publicacion">
            <!--  Comentarios -->
            <ul class="accordion_post">
                <li>
                    <div class="tabs_comentarios">
                        <div id="tabs" hx-target="#tab-contents" hx-swap="innerHTML"
                        _='on htmx:afterOnLoad take .selected for event.target'>
                            <button hx-get="{% url 'read_post' post.id %}" 
                                class='tab selected' onclick="setSelectedTab(event)">
                                Newest First
                            </button>
                            <button hx-get="{% url 'read_post' post.id %}?top" 
                                class='tab' onclick="setSelectedTab(event)">
                                Top Comments
                            </button>
                        </div>
                    </div>
                    <label for="{{post.id}}" id="etiqueta_comentario_label">
                        Comentarios: 
                        <span id="comments_count_{{post.id}}">
                            {{ post.comments.count }}
                        </span>&#x3e;
                    </label>
                    <input type="checkbox" name="accordion_post" id="{{post.id}}">
                    <div class="contenido_accordion_post">
                        <div class="comentarios_scroll">
                            <div class="anadir_comentarios">
                                <form hx-post="{% url 'comment_sent' post.id %}"
                                    hx-target="#tab-contents"
                                    hx-swap="afterbegin"
                                    _="on htmx:afterRequest reset() me">
                                        {% csrf_token %}
                                        {{ comment_create_form }}
                                        <button type="submit" class="btn btn-primary">Enviar</button>
                                </form>
                            </div>
                            <div id="tab-contents">
                                {% for comment in post.comments.all %}
                                    {% include 'snippets/comentarios.html' %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            
            <!--  Likes  -->
            <div class="editar_publicacion_interno">
                {% include 'snippets/likes.html' %}
                {% if user.is_authenticated and user == post.author %}
                    <a href="{% url 'edit_post' post.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="{% url 'delete_post' post.id %}"><i class="fa-solid fa-trash"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="contenido_publicaciones">
        {{post.contenido}}
    </div>
</div>
{% endblock  %}

<script src="{% static 'js/expandir_texto.js' %}"></script>
<script src="{% static 'js/seleccionar_tab.js' %}"></script>