{% load static %}

<div class="comentario_replies">
    <ul class="accordion_comentarios">
        <li>
            <label for="{{comment.id}}">Replies: {{comment.replies.count}}<span> &#x3e;</span></label>
            <input type="checkbox" name="accordion_comentarios" id="{{comment.id}}">
            <div class="contenido_accordion_comentarios">
                <div class="replies_scroll">
                    {% for reply in comment.replies.all %}
                        <div class="comentario_author"> 
                            {% if reply.author %}
                                <img src="{{ reply.author.profile.avatar }}" alt="">
                                <a href="{% url 'user_profile' reply.author.username %}">
                                    {{reply.author.profile.name}}
                                    @{{reply.author.username}}
                                </a>
                            {% else %}
                                <p><img src="{% static 'img/default_user.png' %}" alt="">No user</p>
                            {% endif %}
                        </div>
                        <div class="comentario_editar">
                            <div>
                                <p class="card-text" id="comment-text">{{reply.body}}</p>
                                <a href="javascript:void(0)" class="toggle-text" style="display: none;">Ver más</a>
                            </div>
                            <a href="#"><i class="fa-solid fa-heart"></i> Like</a>
                            {% if user.is_authenticated and reply.author == user or comment.author == user %}
                                <a href="{% url 'comment_delete' comment.id %}"><i class="fa-solid fa-trash"></i></a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </li>
    </ul>
</div>