{% extends "justicia_app/base.html" %}
{% load allauth i18n %}

{% block content %}
<div class="create_post_externo">
    <div class="create_post">
        <h1>{% trans "Log Out" %}</h1>
        <p>{% trans 'Are you sure you want to log out?' %}</p>
        {% url 'account_logout' as action_url %}
        <form method="post" action="{{ action_url }}">
            {% csrf_token %}
            {{ redirect_field }}
            <div class="logout_menu">
                <input type="submit" value="Log Out" class='confirm_button'>
                <a href="{{ request.GET.next|default:'/' }}" class='cancel_button'>Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
