{% extends "awesome_app/base.html" %}
{% load allauth i18n %}


{% block content %}
    <div class="create_post">
        <h1>{% trans "Sign Up" %}</h1>
        <p>
            {% trans "Already have an account? Then please" %}
            <a href="{{ login_url }}">{% trans "sign in" %}</a>.
        </p>

        {% if not SOCIALACCOUNT_ONLY %}
            {% url 'account_signup' as action_url %}
            <form method="post" action="{{ action_url }}" class="entrance_login">
                {% csrf_token %}
                {{ redirect_field }}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="form-errors">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="button_login">
                    {% trans "Sign Up" %}
                </button>
            </form>
        {% endif %}

        {% if PASSKEY_SIGNUP_ENABLED %}
            <hr />
            <a href="{{ signup_by_passkey_url }}" class="prominent signup outline primary">
                {% trans "Sign up using a passkey" %}
            </a>
        {% endif %}

        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </div>
{% endblock content %}
