# Archivos y directorios de Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
*.sqlite3
*.db
media/
static/
node/
.DS_Store

# Archivos de configuración locales
*.env
*.env.*

# Archivos de seguridad de Django (como claves secretas)
*.key
*.pem

# Directorios de migraciones de Django (excepto los archivos de la base de datos)
awesome/migrations/

# Archivos generados por npm (Frontend - React)
node_modules/
frontend/node_modules/

# Archivos generados por la instalación de TailwindCSS y configuración de frontend
frontend/package-lock.json
frontend/yarn.lock
frontend/.env
frontend/.next/
frontend/.npm/
frontend/.cache/
frontend/dist/
frontend/build/

# Archivos de configuración de TailwindCSS
frontend/tailwind.config.js

# Archivos de build de React
frontend/build/

# IDEs y editores
.vscode/
.idea/

# Archivos de log y temporales
*.log
*.bak
*.swp
*.swo
*.tmp

# Archivos de pruebas
*.coverage
nosetests.xml
coverage.xml
*.cover
*.hypothesis/

# Archivos de contenedor Docker (si usas Docker)
.docker/

# Archivos generados por test runners
pytest_cache/

# Archivos de configuración de Docker
docker-compose.override.yml
Dockerfile

# Archivos generales de configuración
*.DS_Store
