<div class="likes_comentarios">
    {% if user.is_authenticated and user != reply.author %}
        <a hx-get="{% url 'like_reply' reply.id %}" 
            hx-target="closest div"
            hx-swap="outerHTML">
            {% if user in reply.likes.all %}
                <i class="fa-solid fa-heart" style="color: red;"></i>
            {% else %}
                <i class="fa-solid fa-heart"></i>
            {% endif %}
        </a>
    {% else %}
        <i class="fa-solid fa-heart" style="color: blue; margin-top:.2rem;"></i>
    {% endif %}
    {{ reply.likes.count }}
</div>