<div class="nuevo_mensaje">
    <div class="nuevo_mensaje_usuario">
        <img src="{{recipient.profile.avatar}}" alt="">
        <p>{{ recipient.profile.name }}</p>
        <p><small>@{{ recipient.username }}</small></p>
    </div>
    <div class="nuevo_mensaje_form">
        <form action="{% url 'inbox_new_message' recipient.id %}" method="post">
            {% csrf_token %}
            {{new_message_form}}
            <input type="submit" value="Submit" class='confirm_button'>
            <a href="{{ request.META.HTTP_REFERER }}" class='cancel_button'>Cancel</a>
        </form>
    </div>
</div>