{% load static %}
{% if users %}
    {% for user in users %}
        <a hx-get="{% url 'inbox_new_message' user.id %}"
            hx-target="#newMessagePopup"
            hx-swap="innerHTML">
            <div class="searched_users">
                <img src="{{ user.profile.avatar }}" alt="">
                <div class="searched_users_name">
                    <p>{{ user.profile.name }}</p>
                    <p>@{{ user.username }}</p>
                </div>
            </div>
        </a>
    {% endfor %}
{% else %}
    <p>No users found.</p>
{% endif %} 