@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@import url(https://fonts.googleapis.com/css?family=Lobster:regular);

*{
    margin: 0;
    padding: 0; 
    text-decoration: none !important;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.contenedor{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    color: white;
}

.banner{
    position: relative;
    height: 100%;
}
.banner::before{
    content: "";
    position: absolute;
    inset: 0;
    background: url('../img/fondo.jpeg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover; /* hay que ajustar el banner segun el alto total de la pagina*/


    z-index: -1;
    -webkit-mask-image: url('../img/fondo-animado.gif');
    -webkit-mask-size:cover;
    -webkit-mask-position:center;
    mask-image: url('../img/fondo-animado.gif');
    mask-size: cover;
    mask-position: center;
}

/*-------------  Header -------------*/
header{
    text-align: center;
    padding: 1.25rem;
    background: linear-gradient(90deg, brown, black);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: white;
}
/*-------------  Logo ------------*/
.logo{
    font-size: 2rem;
}
.logo span{
    font-size: 3rem;
}
.login ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.login ul li a{
    display: inline-block;
    font-size: 1.7rem;
    margin: 0 1.8rem;
    transition: .8s;
}
.login ul:hover li a{
    transform: scale(1.3);
    filter: blur(4px);
} 
.login ul li a:hover{
    filter: blur(0px);
    transform: scale(1.3);
}

/*-------------  Navbar -------------*/
.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar ul li a{
    display: inline-block;
    font-size: 1.7rem;
    margin-left: 1.875rem;
    transition: .8s;
}
.navbar ul:hover li a{
    transform: scale(1.3);
    filter: blur(4px);
} 
.navbar ul li a:hover{
    filter: blur(0px);
    transform: scale(1.3);
}
.fa-bars{
    visibility: hidden;
}


.fa-angle-down{
    font-size: 2rem;
}

input:checked ~.fa-angle-down::before{
    content: '\f00d';
}
.crear_publicacion_menu_interno{
    position: absolute;
    top: 8.5rem;
    right: 15px;
    width: fit-content;
    transition: 0.3s ease;
    transform: scaleY(0);
    transform-origin: top;
    z-index: 1;
}
.crear_publicacion_menu input[type=checkbox]:checked~.crear_publicacion_menu_interno{
    transform: scaleY(1);
}
.crear_publicacion_menu_interno a{
    display: block;
    text-align: right;
    padding: 0 .5rem;
}




/*-------------  Crear Publicacion Menu -------------*/
.crear_publicacion_menu{
    display: flex;
    margin: 1rem;
    align-items: center;
}
.crear_publicacion_menu img{
    width: 4rem;
    border-radius: 30px;
}
.crear_publicacion_menu p{
    margin: 1rem;
}
.crear_publicacion_menu_interno ul{
    display: block;
}
.crear_publicacion_menu_interno li{
    background: linear-gradient(90deg, brown, black);
    border-radius: 20px;
    margin: .5rem 0;
    padding-right: 2rem;
}
.crear_publicacion_menu_interno a{
    font-size: 1.3rem !important;
    margin: .3rem 0;
}



/*-------------  Inicio -------------*/
.home_menu_lateral{
    background: linear-gradient(90deg, brown, black);
    width: 30%;
    height: 100%;
}
.home_menu_lateral ul{
    list-style: none;
}
.home_menu_lateral ul li{
    display: flex;
    flex-direction: column;
}
.home_menu_lateral ul li a{
    color: white;
    padding: 1rem 0;
    text-decoration: none;
    font-size: 1.4rem;
}

/*-------------  Publicaciones -------------*/
.card{
    margin-top: 1rem !important;
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, brown, black);
    color: white;
}

article{
    margin: auto;
    position: relative;
    width: 250px;
    transition: all .3s ease;
}
article img:first-child{
    box-shadow: 0 60px 60px -60px rgba(0, 30, 255, .5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    height: 150px;
    margin: 2rem 0;
}
article img:last-child{
    position: absolute;
    width: 250px;
    min-height: 200px;
    max-height: 300px;
    object-fit: contain;
    bottom: 0;
    left: 0px;
    right: 0px;
    margin: auto;
    transform: translateX(25%);
    transition: .3s ease;
    opacity: 0;
}
article:hover{
    transform: 
        perspective(250px) 
        rotateX(10deg)
        translateY(-5%)
        translateZ(0);
}
article:before{
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        to bottom, transparent 10%,
        rgba(0, 0, 0, .5) 50%,
        rgba(0, 0, 0) 95%
    );
    opacity: 0;
    transition: all .3s ease;
}
article:hover:before{
    opacity: 1;
}
article:hover img:last-child{
    opacity: 1;
    transform: translateY(10%);
}

.publicaciones_titulo{
    display: flex;
    justify-content: space-between;
}


.tags{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    padding: 0 0 1rem 1rem;
}
.tag{
    padding: 0 1rem;
    background: black;
    border-radius: 10px;
    transition: .2s linear;
    color: white;
}
.tag:hover, .interacciones a:hover{
    background: linear-gradient(90deg, red, blue);
    transform: scale(1.1);
}

.sub-menu{
    display: flex;
    gap: 5rem;
}






/*--------- Create Post -----------*/
.create_post_externo{
    padding: 20px;
}
.create_post{   
    margin: auto;
    padding: 20px;
    height: fit-content;
    background: linear-gradient(90deg, brown, black);
    width: 35rem;
    border-radius: 2rem;
    color: white;
}
.create_post form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.create_post th{
    padding: 10px 5px;
}
.custom_placeholder::placeholder{
    font-family: 'Lobster', sans-serif;
    font-size: 1.5rem;
}
.custom_checkbox{
    display: flex;
    justify-content: center;
}
.custom_checkbox label{
    margin-right: 1rem;
}

/*--------- Edit Post -----------*/
.edit_post{
    width: 50%;
    margin: auto;
    padding: 1rem 0;
}
.edit_post img{
    width: 20%;
}

.edit_post .texto{
    background-color: brown;
    padding: 1rem 1rem 5rem 1rem;
    border-radius: 1rem;
    border: solid .2rem brown;
    margin-bottom: 1rem;
}



/*--------- Delete Post -----------*/
.delete_post{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    gap: 2rem;
}
.delete_post_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}









/*--------- Confirm button -----------*/
.confirm_button , .cancel_button{
    display: inline-block;
    width: 6rem;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    padding: .4rem;
    margin: .4rem 3rem;
    text-align: center;
    background-color: white;
    color: black;
}
.confirm_button:hover{
    background-color: rgb(6, 238, 6);
    transition: .2s linear;
    transform: scale(1.1);
    color: white;
}
.cancel_button:hover, .delete_button:hover{
    background-color: rgb(238, 6, 6);
    transition: .2s linear;
    transform: scale(1.1) !important;
    color: white;
}
.delete_button{
    display: block;
    width: 13rem;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    padding: .4rem;
    margin: 1rem auto;
    text-align: center;
}


/*------------- Allauth -----------------*/
.allauth_menu{
    display: flex;
}
.form-fields p{
    margin: 1rem 0;
}
.helptext a{
    color: white;
}
.helptext a:hover{
    color: blue;
}
.entrance_login p{
    margin: .5rem 0;
}



/*-------------  Footer -----------------*/
footer{
    text-align: center;
    background: linear-gradient(90deg, brown, black);
    color: white;
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/*------------ 768 px ----------------*/
@media (max-width: 48rem) {
    .navbar, .login{
        display: flex;
        flex-direction: column;
        position: absolute;
        background: linear-gradient(90deg, brown, black);
        top: 8.5rem;
        left: 0;
        width: 100%;
        transform: scaleY(0);
        transition: .3s linear;
        transform-origin: top;
        z-index: 1;
        opacity: .95;
    }
    .navbar ul, .login ul{
        flex-direction: column;
    }
    .navbar ul li a, .login ul li a{
        display: block;
        margin-right: 3rem;
    }
    input:checked ~ .navbar, input:checked ~ .login{
        transform: scale(1);
    }
    .navbar ul:hover li a{
        transform: scaleX(1.3);
        filter: blur(3px);
    } 
    .navbar ul li a:hover{
        filter: blur(0px);
        transform: scale(1.3);
    }


    .fa-bars{
        visibility: visible;
        color: white;
        font-size: 2.5rem;
    }
    input:checked ~ .fa-bars::before{
        content: '\f00d';
    }


    .crear_publicacion_menu_interno{
        top: 15rem;
        width: 100%;
    }
    .crear_publicacion_menu_interno ul li{
        display: flex;
        justify-content: center;
        padding-right: 0;
    }
}
