{% extends 'justicia_app/base.html' %}
{% load static %}
{% block content %}
    <div class="profile">
        <img src="{{ user.profile.avatar }}" alt="">
        <a href="#">{{ user.profile.name }}</a>
        <a href="#">{{ user.username }}</a>
    </div>
    
    <form action="" class='profile_edit' method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ profile_edit.as_p }}
        <input type="submit" value="Confirm" class='confirm_button'>
        <a href="{{ request.GET.next|default:'/' }}" class='cancel_button'>Cancel</a>
        <div>
            <a href="{% url 'profile_delete' %}" class='delete_button'>Delete Profile</a>
        </div>
    </form>

{% endblock %}

<script>
    // This updates de avatar but is not working properly
    const fileInput = document.querySelector('input[type="file"]');

    fileInput.addEventListener('change', (event)=>{
        const file = event.target.files[0];
        const image = document.querySelector('#avatar');

        if (file && file.type.includes('image')){
            const url = URL.createObjectURL(file);
            image.src = url;
        }
    })
    
    // This updates the name
    const real_nameInput = document.getElementById('id_real_name');
    const real_nameOutput = document.getElementById('real_name');

    real_nameInput.addEventListener('input', (event)=>{
        real_nameOutput.textContent = event.target.value;
    });
</script>

