{% extends 'justicia_app/base.html' %}
{% load static %}
{% block content %}
<div class="create_post_externo">
    <div class="profile">
        <img src="{{ profile.avatar }}" alt="">
        <a href="#">{{ profile.name }}</a>
        <a href="#">@{{ profile.user.username }}</a>
        
        {% if profile.location %}
            <a href="#"><i class="fa-solid fa-location-dot"></i> {{profile.location}}</a>
        {% else %}
            No location selected
        {% endif %}
        
        {% if profile.bio %}
            <p>{{profile.bio}}</p>
        {% else %}
            No bio specified
        {% endif %}
            
    </div>

    <div class="interacciones">
        <ul>
            <li>
                <a href="#">Latest</a>
                <a href="#">Top Posts</a>
                <a href="#">Top Comments</a>
                <a href="#">Liked Posts</a>
            </li>
        </ul>
    </div>

    <div class="container">
    <div class="row">
        {% for post in posts  %}
            <div class="col-md-4">
                <div class="card">
                    <div class="publicaciones_titulo">
                        <p>{{post.titulo}}</p>
                        {% if post.author %}
                            <a href="{% url 'user_profile' post.author.username %}" style="display:flex;">
                                <img src="{{ post.author.profile.avatar }}" alt="">
                                <p>{{ post.author.profile.name }}</p>  <!-- post.author.profile.realname y post.author.username -->
                            </a>
                        {% else %}
                            <p><img src="{% static 'img/default_user.png' %}" alt="">no user</p>
                        {% endif %}
                    </div>
                    <article>
                        <img class="card-img-top" src="{{ post.imagen_fondo.url }}" alt="">
                        <a href="{% url 'read_post' post.id %}">
                            <img class="card-img-top" src="{{ post.imagen_portada.url }}" alt="">
                        </a>
                    </article>
                
                    <div class="card-body">
                        <h4 class="card-title">{{post.titulo}}</h4>
                        <div class="tags">
                            {% for tag in post.tags.all %}
                                <a href="{% url 'category' tag.slug %}">
                                    <span class='tag'>{{ tag }}</span>
                                </a>
                            {% endfor %}
                        </div>
                        <div class="sub-menu">
                            <div class="comentarios">
                                <a href="#">Comentarios</a>
                            </div>
                            <div class="editar_publicacion">
                                <a href="#"><i class="fa-solid fa-heart"></i></a>
                                <a href="{% url 'edit_post' post.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="{% url 'delete_post' post.id %}"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </div>
                        <p class="card-text">{{post.resumen}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
</div>
{% endblock  %}