{% extends 'justicia_app/base.html' %}
{% load static %}
{% block content %}
<div class="create_post_externo">
    <div class="profile">
        <img src="{{ user.profile.avatar }}" alt="">
        <a href="#">{{ user.profile.name }}</a>
        <a href="#">{{ user.username }}</a>
    </div>
    
    <form action="" class='profile_edit' method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ profile_edit.as_p }}
        <div style="display: flex">
            <input type="submit" value="Confirm" class='confirm_button'>
            <a href="{{ request.GET.next|default:'/' }}" class='cancel_button'>Cancel</a>
        </div>
        <div>
            <a href="{% url 'profile_delete' %}" class='delete_button'>Delete Profile</a>
        </div>
    </form>
</div>
{% endblock %}

<script src="{% static 'js/actualizar_texto_avatar.js' %}"></script>

